*
{
      font-family: "Montserrat", sans-serif;
}

:root{
    --color-primary:#1E293B;
    --color-secondary:#667085;
    --text-primary:#D0D5DD;
    --active-bg:#344054;
    --loading-bg:#e5e7eb41;
    --active-color:#fff;
}