*
{
      font-family: "Montserrat", sans-serif;
}
:root{
    --sidebar-bg:#1D2939;
    --sidebar-item-color:#D0D5DD;
    --sidebar-arrow-bg:#1D2939;
    --sidebar-active-item-bg:#344054;
    --submenu-arrows-color:#D0D5DD;
};