.mysidebar {
    width: 17.5rem;
    transition: width 0.2s;
}
.sidebar-nav {
    padding: 32px 0 11px 0;
}
button,
label,
i,
.mysidebar button:hover,
li {
    color: var(--text-primary);
    cursor: pointer;
}
.sidebar-item-spacing {
    padding: 8px 12px;
}
.text-icon-gap {
    gap: 12px;
}
.dashboard-back-btn {
    font-size: 14px;
}
.sidebar-nav-header .sidebar-logo {
    width: 10rem;
}
.sidebar-nav-header {

    padding: 0 20px 0 24px;
    width: 12.8rem;
}

.sidebar-icons {
    width: 24px;
    height: 24px;
}
.mysidebar.collapsed {
    width: 5rem;
    transition: width 0.2s;
}

.submenu-items-spacing,
.sidebar-settings-items {
    padding: 12px 12px 8px 10px;
}
.sidebar-divider {
    width: 15rem;
    border-top: 1px solid var(--color-secondary);
}

.support-footer {
    font-size: 12px;
    font-weight: 500;
    padding: 0 16px 32px 0;
}
.support-footer-img {
    width: 5rem;
}
p-skeleton {
    background-color: var(--loading-bg);
}
.activated-item,
.activated-item i {
    background-color: var(--active-bg);
    border-radius: 5px;
    color: var(--active-color);
}