<div class="mysidebar d-flex flex-column justify-content-between" #sidebar>
    <div class="sidebar-nav  d-flex flex-column">
        <span class="d-flex justify-content-between  ">
            @if (!isSideBarCollapsed()) {
            <div class="sidebar-nav-header  d-flex justify-content-between  ">
                <img src="/images/logo.svg" class="sidebar-logo" alt="">
                <button class=" btn btn-toggle  border-0 " (click)="toggleSideBar()">

                    <img src="/images/icons/arrow-left.svg" alt="">
                </button>
            </div>
            }@else{
            <div class=" d-flex flex-wrap justify-content-center  ">
                <img src="/images/subLogo.png" class="" alt="">
                <button class=" btn btn-toggle  border-0 " (click)="toggleSideBar()">


                    <i class="bi bi-arrow-right sidebar-nav-arrows "></i>
                </button>
            </div>
            }
        </span>
        @if (isSettingsClicked() && !isSideBarCollapsed()) {
        <button
            class="sidebar-navigation text-icon-gap dashboard-back-btn btn btn-toggle d-flex w-full align-items-center    border-0"
            (click)="toggleSettings()">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" fill="none">
                <path d="M15 8H1M1 8L8 15M1 8L8 1" stroke="#D0D5DD" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            <span class="dashboard-back-btn text-align-start">Back to dashboard</span>
        </button>

        }
        <ul class="list-unstyled sidebar-navigation d-flex flex-wrap  list-items-gap mb-0">


            @if (isLoading()) {
            @for (item of skelton; track $index) {
            <li class="w-100 sidebar-item-spacing">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center text-icon-gap">
                        <p-skeleton shape="square" size="1rem"></p-skeleton>
                        @if (!isSideBarCollapsed()) {
                        <p-skeleton width="100px" height="12px"></p-skeleton>
                        }
                    </div>
                </div>
            </li>
            }
            }
            @else if(!isSettingsClicked())
            {
            @for (item of items(); track $index) {

            <li class=" w-100 sidebar-item-spacing sidebar-item-fonts" [routerLink]="item.routerLink"
                routerLinkActive="activated-item">
                <div class="d-flex text-icon-gap ">
                    <i [class]="'bi '+ item.icon" class="sidebar-navigation-icons " data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + $index" aria-expanded="false"
                        (click)="toggleSubmenu($index)"></i>

                    @if (!isSideBarCollapsed()) {

                    <span
                        class="d-flex justify-content-between border-0 w-100  align-items-center rounded collapsed fw-semibold  "
                        data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + $index" aria-expanded="false"
                        (click)="toggleSubmenu($index)">
                        {{item.label}}
                        @if(item.items && !isSideBarCollapsed()){
                        <i class=" submenu-arrows"
                            [class]="isSubMenuOpened()===$index?'bi bi-chevron-up' : 'bi bi-chevron-down'"></i>
                        }
                    </span>
                    }
                </div>
                @if (item.items?.length) {
                <div class="collapse" [id]="'collapse'+$index">
                    <ul class="list-unstyled fw-normal   ">
                        @for (subitem of item.items; track $index) {
                        <div class="d-flex align-items-center">
                            <li class="submenu-items-spacing d-flex text-icon-gap">
                                <i [class]="subitem.icon"></i>

                                @if (!isSideBarCollapsed()) {
                                <label href="#" class=" rounded">{{subitem.label}} </label>
                                }
                            </li>
                        </div>
                        }
                    </ul>
                </div>
                }
            </li>
            }}
            @else {
            @for (item of SettingsItems(); track $index) {

            <li class=" w-100 sidebar-item-spacing sidebar-item-fonts">
                <div class="d-flex text-icon-gap ">
                    <i [class]="item.icon" class=" sidebar-navigation-icons " data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + $index" aria-expanded="false"
                        (click)="toggleSubmenu($index)"></i>

                    @if (!isSideBarCollapsed()) {

                    <span
                        class="d-flex justify-content-between border-0 w-100  align-items-center rounded collapsed fw-semibold  "
                        data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + $index" aria-expanded="false"
                        (click)="toggleSubmenu($index)">
                        {{item.label}}
                        @if(item.items && !isSideBarCollapsed()){
                        <i class=" submenu-arrows"
                            [class]="isSubMenuOpened()===$index?'bi bi-chevron-up' : 'bi bi-chevron-down'"></i>
                        }
                    </span>
                    }
                </div>
                @if (item.items?.length) {
                <div class="collapse" [id]="'collapse'+$index">
                    <ul class="list-unstyled fw-normal   ">
                        @for (subitem of item.items; track $index) {
                        <div class="d-flex align-items-center">
                            <li class="submenu-items-spacing d-flex text-icon-gap">
                                <i [class]="subitem.icon"></i>

                                @if (!isSideBarCollapsed()) {
                                <label href="#" class=" rounded">{{subitem.label}} </label>
                                }
                            </li>
                        </div>
                        }
                    </ul>
                </div>
                }
            </li>
            }
            }
        </ul>
    </div>
    <div>
        @if (!isSideBarCollapsed() && !isSettingsClicked()) {
        <ul class="list-unstyled sidebar-navigation d-flex flex-wrap list-items-gap mb-0">
            <li>
                <div clasS="sidebar-divider"></div>
            </li>

            @if (!isSettingsClicked()) {

            <li class="w-100 d-flex flex-wrap sidebar-item-spacing sidebar-item-fonts text-icon-gap"
                (click)="toggleSettings()">

                <i class="bi bi-gear sidebar-navigation-icons "></i>
                <span> Settings</span>

            </li>
            }@else {
            <li class="w-100 d-flex flex-wrap sidebar-item-spacing sidebar-item-fonts text-icon-gap"
                (click)="toggleSettings()">

                <i class="bi bi-house sidebar-navigation-icons "></i>
                <span> Dashboard</span>

            </li>
            }
            <li class="w-100 d-flex flex-wrap sidebar-item-spacing sidebar-item-fonts text-icon-gap">

                <i class="bi bi-headphones sidebar-navigation-icons "></i>
                <span> Contact Support</span>

            </li>
            <li class="w-100 d-flex flex-wrap sidebar-item-spacing sidebar-item-fonts text-icon-gap">

                <i class="bi bi-sticky sidebar-navigation-icons "></i>
                <span> Support Tickets</span>
            </li>
            <li class="w-100 support-footer">
                <small class="text-white"> Created by </small>
                <img src="/images/logo.svg" class="support-footer-img" alt="">
            </li>
        </ul>
        }@if(!isSettingsClicked() && isSideBarCollapsed()) {
        <div class="d-grid sidebar-item-spacing w-full " (click)="toggleSettings()">
            <i class="bi bi-gear text-white rounded-2 m-auto  sidebar-navigation-icons"></i>
        </div>
        }
    </div>
</div>